
body 
{
    font-size: 10px; 
    font-family:  Verdana, Arial, Helvetica, sans-serif;
}


.ui-tabs .ui-tabs-nav li a img {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
    border-width: 0px;
    border-color: green;
    margin-top: -2px;   
}



/* ======================== */



.ui-button-text-only .ui-button-text {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


/* =======wait indicator================= */




/* hide the close x on the loading screen */ 
.progressbar-dialog .ui-dialog-titlebar /*.ui-dialog-titlebar-close*/ { 
    display: none; 
} 

.progressbar-dialog .ui-dialog-content 
{
    background-color: #eeeeee;
    margin-left:auto;
    margin-right:auto;    
}

.progressbar-dialog .ui-dialog-content img, p 
{
    display:block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.progressbar-dialog .ui-dialog-content p 
{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}