
body 
{
    font-size: 10px; 
    font-family:  Verdana, Arial, Helvetica, sans-serif;
}

input, select, textarea 
{
    font-size:  1.2em;
}

span.ui-icon {
    float: left;
    margin: 6px 0;
}

.sortableIngredients {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px; 
}

.sortableIngredients li {

    border-color: #e8e8e8;
    border-radius: 4px 4px 4px 4px;

    margin-left: 12px;
    padding: 0px;
    margin-top: 1px;
}

input.rowInput 
{
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 300px;   
}

button.deleteRow
{   
    margin-top: 3px !important;
    margin-left: 10px;
   
}

button.addRow {
    margin-left: 12px;
    margin-top: 4px;
}

.sortableIngredients input {
    border-radius: 4px 4px 4px 4px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.sortableIngredients button {
    bottom:  2px;
}

.sectionHeaderInput 
{
    font-weight: bold;
    margin-bottom: 5px;
}

.ingredientSection {
    border-radius: 5px;
    margin: 12px;
    padding: 5px;
    width: 460px;
    background: none repeat scroll 0 0 #eeeeee;
    position: relative;
}



button.deleteSection 
{
    position: absolute;
    left: 478px;
    top: 0px;
}
input[datalinetype=header] { color: red; }



.ui-tabs .ui-tabs-nav li a img {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
    border-width: 0px;
    border-color: green;
    margin-top: -2px;
   
}
