
/* ---------------------------------------- */
/*             Instructions
/* ---------------------------------------- */

#instructions div.instruction {
    margin-top: 3px;
    clear: left;
}

#instructions textarea.instruction {
    height: 70px;
    /*overflow: hidden;*/  /*hide the scrollbar*/
    padding: 3px;
}

#instructions button.moveLevelLeft, button.moveLevelRight, button.deleteInstruction, button.addInstruction {
    vertical-align: top;
    height: 22px;
}

#instructions button.deleteInstruction {
    margin-left: 10px;
    margin-right: 10px;
}

#instructions button.addInstruction {
    margin-top: 10px;    
}

/* markers */
#instructions span.marker {
    float: left;
    padding: 3px;
    width: 15px;
    background-color: #eeeeee;
}

#instructions span.marker[indentation="level0"] 
{
    margin-left: 0px;
}

#instructions span.marker[indentation="level1"] 
{
    margin-left: 10px;
}

#instructions span.marker[indentation="level2"] 
{
    margin-left: 20px;
}

/* text */
#instructions span.instructionText 
{
    float: left;
    padding: 3px;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    margin-left: 10px;
    margin-right: 20px;
}

#instructions span.instructionText[indentation="level0"] 
{
    width: 320px;
}

#instructions span.instructionText[indentation="level1"] 
{
    width: 310px;
}

#instructions span.instructionText[indentation="level2"] 
{
    width: 300px;
}

/* ========== Format ===================*/
/*
.instructionSeperator {
    margin-top: 40px;
    margin-bottom: 10px;
}

#instructionFormat div.instructionFormat 
{
    float: left;
    padding-top: 6px;
    padding-left: 5px;
    padding-bottom: 7px;
    width: 196px;
    border:1px solid #cccccc;
    border-radius: 5px 5px 5px 5px;

    background: #f6f6f6;
    margin-right: 5px;
}

div.instructionFormat  span.levelIndicator 
{
    line-height: 18px;
    font-weight: bold;
    font-size: 1.0em;
}

div.instructionFormat .ui-button-text-only .ui-button-text
{
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}


#instructionFormat span.indentationFormat, span.fontStyle, span.fontSize
{
    position: relative;
    left: 0px;
}

#instructionFormat span.theme 
{
    width: 45px;
    float: left;
}

#instructionFormat div.themeSection 
{
    padding-top: 6px;
    clear: both;
}
*/
.end {
    clear: both;
}

.instructionSeperator {
    margin-top: 40px;
    margin-bottom: 10px;
}

#instructionFormatContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;    
} 

#instructionFormat div.instructionFormat 
{
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
/*
div.instructionFormat .ui-button-text-only .ui-button-text
{
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
*/
#instructionFormat span.indentationFormat, span.fontStyle, span.fontSize
{
    position: relative;
    left: 0px;
}

#instructionFormat span.theme 
{
    width: 100px;
    float: left;
}

#instructionFormat div.themeSection 
{
    padding-top: 6px;
    clear: both;
}