@*@using RecipeWebRole.Utilities*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Login</h2>   

        You have to login to visit the URL @ViewBag.ReturnUrl.
        
        @Html.ActionLink("Start login", "Authenticate", "Account", new { returnUrl = ViewBag.ReturnUrl }, null)

       @* <a href="/Account/Authenticate@((new QueryString { { "returnUrl", ViewBag.ReturnUrl } }).ToString())" >Start the login</a> *@
    </div>
</body>
</html>
