
<div>
    <h2>Registration</h2>   
    
    <p>
        Du brauchst einen gültigen <b>GMail-</b> oder <b>Hotmail</b>-Account um Dich zu registrieren.    
    </p>
    
    <p>
        @Html.ActionLink("Folge diesem Link", "Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, null) 
        um Dich zu authentifizieren. Nach erfolgreicher Authentifizierung wirst Du automatisch wieder auf diese Website zurückgeführt.      
    </p>
    
    <div>
    Bitte beachte:
        <ul>
            <li>Diese Seite steht allen Besuchern unentgeltlich zur Verfügung.</li>
            <li>Die Anmeldung über Gmail oder Hotmail hat den Vorteil, dass Du Dir kein neues Passwort merken musst.</li>
            <li>Die Anmeldung über Gmail oder Hotmail ist absolut sicher &mdash;
                diese Services dienen nur für die Authentifizierung; 
                Google und Microsoft leiten keine persönlichen Daten an Mats' Rezeptsammlung zurück.</li>       
        </ul>
    </div>
</div>
