
body 
{
    font-size: 10px; 
    font-family:  Verdana, Arial, Helvetica, sans-serif;
}


.ui-tabs .ui-tabs-nav li a img {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
    border-width: 0px;
    border-color: green;
    margin-top: -2px;   
}


 .ui-tabs-panel { 
    height: 300px; 
    overflow: auto; 
} 


/* ======================== */



.ui-button-text-only .ui-button-text {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


/* =======wait indicator================= */




/* hide the close x on the loading screen */ 
.progressbar-dialog .ui-dialog-titlebar /*.ui-dialog-titlebar-close*/ { 
    display: none; 
} 

.progressbar-dialog .ui-dialog-content 
{
    background-color: #eeeeee;
    margin-left:auto;
    margin-right:auto;    
}

.progressbar-dialog .ui-dialog-content img, p 
{
    display:block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.progressbar-dialog .ui-dialog-content p 
{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.normal-dialog .ui-dialog-content textarea {
    border:1px solid #999999; 
    width:100%; 
    margin:5px 0; 
    padding:3px;
    overflow: auto;
}

.normal-dialog .ui-dialog-content li {

    padding: 4px;
}