@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Inhouse Title</title>
</head>
<body>
    <div>
        <h1>Inhouse</h1>
        <h2>Hello @ViewBag.UserName</h2>
    </div>
</body>
</html>