@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

@*<form action="About" autocomplete="off">
    <div class="ingredients">
        <table class="ingredientTable" data-info="hook">
            <!-- Ingredients added here -->
        </table>
    </div>
</form>*@






<b>Hallo</b>

<div id="ingredientSections">
    @*
    <div class="ingredientSection">
        <ul class="sortableIngredients">
           
        </ul>    
        <button data-button="true" data-button-icon="add" data-button-action="add">Add</button>
    </div>
    *@
</div>
<button id="addSectionButton" data-button="true" data-button-icon="add" data-button-action="add">Add Section</button>


<script type="text/javascript">
    $(document).ready(function () {
        var $div = $('#ingredientSections').first();
        var $addButton = $('#addSectionButton').first();

        recipe.ingredients.init($div, $addButton);
    });
</script>

 

