@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

@*<form action="About" autocomplete="off">
    <div class="ingredients">
        <table class="ingredientTable" data-info="hook">
            <!-- Ingredients added here -->
        </table>
    </div>
</form>*@






<b>Hallo</b>


<div id="tabs">
	<ul>
        <li><a href="#tabs-1">General<img class="ui-icon ui-icon-check" alt="faf"/></a></li>
		<li><a href="#tabs-2">Ingredients</a></li>
		<li><a href="#tabs-3">Instructions</a></li>
	</ul>
    <div id="tabs-1">
        <table>
            <tr>
                <td>Recipe Id:</td>
                <td>1243-E</td>
            </tr>
            <tr>
                <td>Creation date:</td>
                <td>09-July-2012</td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input type="text" maxlength="40" />(*)</td>
            </tr>
            <tr>
                <td>Alternative Title:</td>
                <td><input type="text" maxlength="40" /></td>
            </tr>
            <tr>
                <td>Tagline/Highlight:</td>
                <td> <textarea cols="50" rows="4"></textarea></td>
            </tr>
        </table>
 

    </div>
    
    
    @* ***** INGREDIENTS ***********@
    <div id="tabs-2">
        <div id="ingredientSections">
            @*
            <div class="ingredientSection">
                <ul class="sortableIngredients">
           
                </ul>    
                <button data-button="true" data-button-icon="add" data-button-action="add">Add</button>
            </div>
            *@
        </div>
        <button id="addSectionButton" data-button="true" data-button-icon="add" data-button-action="add">Add Section</button>	</div>

    @* ***** INSTRUCTIONS ***********@
    <div id="tabs-3">
        <div id="instructions">
            @* Hier come all the instructions...*@
        </div>
    </div>
</div>



<div class="formating">
    <b>Level 1</b>
    <br/>
    Numbering:
    <br/>
    <select id="level0Format">
        <option selected="selected"  value="Number">Number</option>
        <option value="Bullet">Bullet</option>
        <option value="Dash">Dash</option>
        <option value="None">None</option>
    </select>

    <br/>
    Font Style:
    <br/>
    <span id="format">
        <input type="checkbox" class="boldFormat" id="check1" /><label for="check1">Bold</label>
        <input type="checkbox" class="italicFormat" id="check2" /><label for="check2">Italic</label>
        <input type="checkbox" class="underlinedFormat" id="check3" /><label for="check3">Underlined</label>
    </span>

    <br/>
    Font Size:
    <br/>
    <span id="repeat">
		    <input type="radio" id="repeat0" name="repeat" checked="checked" /><label for="repeat0">Large</label>
		    <input type="radio" id="repeat1" name="repeat" /><label for="repeat1">Normal</label>
		    <input type="radio" id="repeatall" name="repeat" /><label for="repeatall">Small</label>
    </span>    
</div>



<span class="boldFormat">Some text here</span>



<br/>



Level 2:
<select id="level1Format">
    <option value="Number">Number</option>
    <option selected="selected" value="Bullet">Bullet</option>
    <option value="Dash">Dash</option>
    <option value="None">None</option>
</select>
<br/>

Level 3:
<select id="level2Format">
    <option value="Number">Number</option>
    <option value="Bullet">Bullet</option>
    <option value="Dash">Dash</option>
    <option selected="selected" value="None">None</option>
</select>
<br/>

<script type="text/javascript">
    $(document).ready(function () {

        $("#format").buttonset();
//        $("#check1").button({ text: false, icons: { primary: 'ui-icon-gear'} });
//        $("#check2").button({ text: false, icons: { primary: 'ui-icon-gear'} });
//        $("#check3").button({ text: false, icons: { primary: 'ui-icon-gear'} });

        $("#repeat").buttonset();



        $("#tabs").tabs();
        $('#saveButton').button({ icons: { primary: 'ui-icon-disk'} });

        var $div = $('#ingredientSections').first();
        var $addButton = $('#addSectionButton').first();

        $('#level0Format').change(function () {
            recipe.instructions.setLevelFormat(0, $(this).val());
        });
        $('#level1Format').change(function () {
            recipe.instructions.setLevelFormat(1, $(this).val());
        });
        $('#level2Format').change(function () {
            recipe.instructions.setLevelFormat(2, $(this).val());
        });

        recipe.ingredients.init($div, $addButton);
        recipe.instructions.init($('#instructions'));
        recipe.instructions.setLevelFormats(recipe.formats.Number, recipe.formats.Bullet, recipe.formats.None);
    });
</script>

 