@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>



<form action="About" autocomplete="off">
    <div class="ingredients">
        <table class="ingredientTable" data-info="hook">
            <!-- Ingredients added here -->
        </table>
    </div>
</form>






<b>Hallo</b>

<div id="ingredients">

    <ul id="sortableIngredients">
        @* add ingredients here*@
    </ul>
    
    <button data-button="true" data-button-icon="add" data-button-action="add">Add</button>
</div>



<select><option value="var1">Ingredient</option><option value="var2">Subsection Header</option></select>
      </>
 