@model IEnumerable<int>
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<ul id="recipeList">
    @foreach  (var id in @Model)
    {
        <li id="recipe@(id)"><a href="/Home/RecipeEditor?recipeId=@(id)">@id</a></li>
    }
</ul>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

 