@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>



<form action="About" autocomplete="off">
    <div class="ingredients">
        <table class="ingredientTable" data-info="hook">
            <!-- Ingredients added here -->
        </table>
    </div>
</form>
