
<h2>@ViewBag.Message</h2>

<button id="saveRecipe">Save Recipe</button>
<button id="showRecipeAsText">Show as text..</button>



<div id="tabs">
    <ul>
        <li><a href="#tabs-1">General<img class="ui-icon ui-icon-check" alt="faf"/></a></li>
        <li><a href="#tabs-2">Ingredients</a></li>
        <li><a href="#tabs-3">Instructions</a></li>
    </ul>

    @* *********  General  ***********@
    <div id="tabs-1">
        <table>
            <tr>
                <td>Recipe Id:</td>
                <td id="recipeId">1243</td>
            </tr>
            <tr>
                <td>Creation date:</td>
                <td id="recipeCreationData">09-July-2012</td>
            </tr>
            <tr>
                <td>Title:</td>
                <td><input id="recipeName" type="text" maxlength="40" />(*)</td>
            </tr>
            <tr>
                <td>Alternative Title:</td>
                <td><input type="text" maxlength="40" /></td>
            </tr>
            <tr>
                <td>Tagline/Highlight:</td>
                <td> <textarea cols="50" rows="4"></textarea></td>
            </tr>
        </table>
    </div>
        
    @* ******** * INGREDIENTS  ***********@
    <div id="tabs-2">
        <div id="ingredientSections">
            @* Here come all ingredient sections ... *@
        </div>
        <button id="addIngredientSection" class="addSection" data-button="true" data-button-icon="add" data-button-action="add">Add Section</button>	
    </div>

    @* *********  INSTRUCTIONS  ***********@
    <div id="tabs-3">
        <div id="instructions">
            @* Here come all the instructions...*@
        </div>        
        <hr class="instructionSeperator"/>
        
        <b>Formatting Rules:</b>
        <div id="instructionFormatContainer">
            <div id="instructionFormat">
       
            
                @* level 0 *@
                <h3><a href="#">Indentation Level 1</a></h3>
                <div id="level0InstructionFormat" class="instructionFormat">
                    @*                <span class="levelIndicator">Level 2 formatting rules</span><br/>                *@                
                    <div class="themeSection">
                        <span class="theme">Number Format:</span>               
                        <span id="level0FontNumber" class="indentationFormat">
                            <input type="radio" name="level0FontNumber" id="level0None" checked="checked" /><label for="level0None">none</label>
                            <input type="radio" name="level0FontNumber" id="level0Bullet" /><label for="level0Bullet">  &bull;  </label>
                            <input type="radio" name="level0FontNumber" id="level0Dash" /><label for="level0Dash">  -  </label>
                            <input type="radio" name="level0FontNumber" id="level0Number" /><label for="level0Number">number</label>
                        </span>
                    </div>

                    <div class="themeSection">
                        <span class="theme">Font Style:</span>
                        <span id="level0FontStyle" class="fontStyle">
                            <input type="checkbox" name="level0FontStyle" id="level0Bold" /><label for="level0Bold">bold</label>
                            <input type="checkbox" name="level0FontStyle" id="level0Italic" /><label for="level0Italic">italic</label>
                            <input type="checkbox" name="level0FontStyle" id="level0Underlined" /><label for="level0Underlined">underlined</label>
                        </span>
                    </div>

                    <div class="themeSection">
                        <span class="theme">Font Size:</span>
                        <span id="level0FontSize" class="fontSize">
                            <input type="radio" name="level0FontSize" id="level0Large" checked="checked" /><label for="level0Large">large</label>
                            <input type="radio" name="level0FontSize" id="level0Normal" /><label for="level0Normal">normal</label>
                            <input type="radio" name="level0FontSize" id="level0Small" /><label for="level0Small">small</label>
                        </span>   
                    </div>
                    <br/>
                
                </div>

                @* level 1 *@
                <h3><a href="#">Indentation Level 1</a></h3>
                <div id="level1InstructionFormat" class="instructionFormat">
                    @*<span class="levelIndicator">Level 2 formatting rules</span><br/> *@               
                
                    <div class="themeSection">
                        <span class="theme">Number Format:</span>               
                        <span id="level1FontNumber" class="indentationFormat">
                            <input type="radio" name="level1FontNumber" id="level1None" checked="checked" /><label for="level1None">none</label>
                            <input type="radio" name="level1FontNumber" id="level1Bullet" /><label for="level1Bullet">  &bull;  </label>
                            <input type="radio" name="level1FontNumber" id="level1Dash" /><label for="level1Dash">  -  </label>
                            <input type="radio" name="level1FontNumber" id="level1Number" /><label for="level1Number">number</label>
                        </span>
                    </div>

                    <div class="themeSection">
                        <span class="theme">Font Style:</span>
                        <span id="level1FontStyle" class="fontStyle">
                            <input type="checkbox" name="level1FontStyle" id="level1Bold" /><label for="level1Bold">bold</label>
                            <input type="checkbox" name="level1FontStyle" id="level1Italic" /><label for="level1Italic">italic</label>
                            <input type="checkbox" name="level1FontStyle" id="level1Underlined" /><label for="level1Underlined">underlined</label>
                        </span>
                    </div>

                    <div class="themeSection">
                        <span class="theme">Font Size:</span>
                        <span id="level1FontSize" class="fontSize">
                            <input type="radio" name="level1FontSize" id="level1Large" checked="checked" /><label for="level1Large">large</label>
                            <input type="radio" name="level1FontSize" id="level1Normal" /><label for="level1Normal">normal</label>
                            <input type="radio" name="level1FontSize" id="level1Small" /><label for="level1Small">small</label>
                        </span>   
                    </div>
                </div>

                @**************   *@         
                <h3><a href="#">Section 3</a></h3>
                <div>
                    hier ist der Text
                </div>
            </div>
            </div>
       <div class="end">A</div>
 </div>
    
    
</div>



  


<br/>

@* ======== Dialogs ========= *@

<div id="saveInProgress-dialog">
    <img src="/Content/wait-indicator.gif" alt="Wait" />
    <p>Please wait while saving data.</p>
</div>

<div id="saveSucceeded-dialog">
    <p>Your recipe was successfully saved.</p>
</div>

<div id="saveFailed-dialog">
    <p><b>Your recipe was not saved!</b></p>
    <p class="save-failure-reason"></p>
    What are my options now?
    <ul>
        <li>Try saving the recipe it again. The problem might have been a temporary hiccup on the networt or the server.</li>
        <li>For your convenience, the recipe can be stored as cookie on your computer. Then, the next time you connect to the server, you will be prompted to save the recipe. Your work won't be lost.</li>
        <li>You can view a textual representation of the recipe and store it to your local disk. You can upload this file later to the server.</li>
    </ul>
</div>

<div id="recipeAsText-dialog">
    <div>
        <textarea id="recipeText" cols="50" rows="50" readonly="readonly"></textarea>
    </div>
</div>



<script type="text/javascript">
    
    @if(ViewBag.Recipe != null)
    {
        @:var rItem = @Html.Raw(Json.Encode(ViewBag.Recipe));
    }
    else
    {
        @:rItem = undefined;
    }

    $(document).ready(function () {

        $("#instructionFormat").accordion({  // activate accordions before tabs!
            collapsible: true,
            minHeight: 260

        });

        $("#tabs").tabs();

        // general
        recipe.general.init();

        // ingredients
        var $divIngredients = $('#ingredientSections');
        var $addIngredientSectionButton = $('#addIngredientSection');
        recipe.ingredients.init($divIngredients, $addIngredientSectionButton);

        // instructions
        recipe.instructions.init($('#instructions'));
        recipe.instructions.setLevelFormats(recipe.formats.Number, recipe.formats.Bullet, recipe.formats.None);

        // prepare saving
        var $saveButton = $('#saveRecipe');
        var $showRecipeAsTextButton = $('#showRecipeAsText');
        recipe.save.init($saveButton, $showRecipeAsTextButton);
      
      

        // INIT
        if (rItem) {
            recipe.general.setData(rItem);
        }



//        var $instructionFormat = $('#instructionFormat');

//        var $level0InstructionFormat = $('#level0InstructionFormat', $instructionFormat);
//        $('#level0FontNumber', $level0InstructionFormat).buttonset();
//        $('#level0FontStyle', $level0InstructionFormat).buttonset();
//        $('#level0FontSize', $level0InstructionFormat).buttonset();

//        var $level1InstructionFormat = $('#level1InstructionFormat', $instructionFormat);
//        $('#level1FontNumber', $level1InstructionFormat).buttonset();
//        $('#level1FontStyle', $level1InstructionFormat).buttonset();
//        $('#level1FontSize', $level1InstructionFormat).buttonset();



        //        $("#bold", $instructionFormat).button({ text: false, icons: { primary: 'ui-icon-gear'} });
        //        $("#italic", $instructionFormat).button({ text: false, icons: { primary: 'ui-icon-gear'} });
        //        $("#underlined", $instructionFormat).button({ text: false, icons: { primary: 'ui-icon-gear'} });

        //        $("#large", $instructionFormat).button({ text: false, icons: { primary: 'ui-icon-gear'} });
        //        $("#normal", $instructionFormat).button({ text: false, icons: { primary: 'ui-icon-gear'} });
        //        $("#small", $instructionFormat).button({ text: false, icons: { primary: 'ui-icon-gear'} });

        //        $("#repeat").buttonset();

        //        $('#level0Format').change(function () {
        //            recipe.instructions.setLevelFormat(0, $(this).val());
        //        });
        //        $('#level1Format').change(function () {
        //            recipe.instructions.setLevelFormat(1, $(this).val());
        //        });
        //        $('#level2Format').change(function () {
        //            recipe.instructions.setLevelFormat(2, $(this).val());
        //        });


    });
</script>

 