<div class="ingredientSection">
    <b>Title</b>
    <input type="text" maxlength="40" size="40" />
    <button class="crudButton" data-button="true" data-button-icon="delete">Delete Section</button>
    
    <ul class="sortableIngredients">
        @* Here go the individual ingredients/rows *@
    </ul>
    
    <button class="crudButton" data-button="true" data-button-icon="add">Add Row</button>
</div>
