<div class="ingredientSection">
  
    <input class="sectionHeaderInput idleField" type="text" maxlength="40" size="40" />(Section Header)
    <ul class="sortableIngredients">
        @* Here go the individual ingredients/rows *@
    </ul>
    <button class="addRow" data-button="true" data-button-icon="add">Add Row</button>
 
    <button class="deleteSection" data-button="true" data-button-icon="delete">Delete Section</button>    
</div>
