 <table>
     <tr>
         <td><label for="recipeName">Titel:</label></td>
         <td><input id="recipeName" type="text" maxlength="40" size="40" />(*)</td>
     </tr>
     <tr>
         <td><label for="description">Beschreibung:</label></td>
         <td><textarea id="description" cols="50" rows="4"></textarea></td>
     </tr>
 </table>
 
<hr/>

<table>
    <tr>
         <td>Rezept Id:</td>
         <td id="recipeId"></td>
     </tr>
     <tr>
         <td>Author:</td>
         <td id="author"></td>
     </tr>
     <tr>
         <td>Erstellt am:</td>
         <td id="creationDate"></td>
     </tr>
     <tr>
         <td>Zuletzt modifiziert am:</td>
         <td id="modificationDate"></td>
     </tr>
 </table>
