
<div id="categoriesDiv">
    <div class="leftColumn">
        <fieldset>
            <legend>Schwierigkeitsgrad</legend>
            Einfach bis schwierig:
            <div class="rateit" id="skillLevel" data-rateit-step="1" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-value="3.0"></div> 
        </fieldset>
        
        <fieldset>
            <legend>Vegetarisch</legend>
            <input type="checkbox" id="vegetarian" />
            <label for="vegetarian">Vegetarisch</label>           
        </fieldset>



        <fieldset id="dishCategory">
            <legend>Kateogorie</legend>
            <input type="checkbox" id="aperitif" />
            <label for="aperitif">Ap&eacute;ro</label>           
            <br/>
            <input type="checkbox" id="soup" />
            <label for="soup">Suppe</label>
            <br/>
            <input type="checkbox" id="starter" />
            <label for="starter">Vorspeise</label>
            <br/>
            <input type="checkbox" id="maincourse" />
            <label for="maincourse">Hauptspeise</label>
            <br/>
            <input type="checkbox" id="dessert" />
            <label for="dessert">Nachspeise</label>
            <br/>
            <input type="checkbox" id="cookies" />
            <label for="cookies">Gebäck &amp; Kuchen</label>
        </fieldset>
    </div>

    <div class="rightColumn">
    
    <fieldset id="season">
        <legend>Saison</legend>
        <input type="checkbox" id="spring" />
        <label for="spring">Fr&uuml;hling</label>           
        <br/>
        <input type="checkbox" id="summer" />
        <label for="summer">Sommer</label>
        <br/>
        <input type="checkbox" id="fall" />
        <label for="fall">Herbst</label>
        <br/>
        <input type="checkbox" id="winter" />
        <label for="winter">Winter</label>
    </fieldset>

    <fieldset>
        <legend>Geschenk</legend>
        <input type="checkbox" id="present" />
        <label for="present">Als Geschenk geeignet</label>           
    </fieldset>
    </div>

</div>
