
<label for="ingredientQuantity">Die Angaben reichen für wieviele Personen/Portionen?</label>
<input id="ingredientQuantity" type="text" maxlength="50" />

<hr/>

<div id="ingredientSections">
    @* Here come all ingredient sections ... *@
</div>

<button id="addIngredientSection" class="addSection" data-button="true" data-button-icon="add" data-button-action="add">Add Section</button>	
